@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

@font-face {
  src: url("lora.woff2") format("woff2");
  font-family: "Lora";
}

body {
  font-family: 'Lora';
}

#sidebar {
    height: 100vh;
    cursor: pointer;
}

#sidebar:hover {
}

#sidebar #logo img {
    width: 110px;
    height: 110px;
}

#sidebar:after {
    content: '০ ০ ০';
    font-size: 50px;
    position: relative;
    opacity: 1;
    transition: opacity 0.2s;
    top: -20vh;
    /*top: 8vh;*/
}

#sidebar:hover:after {
    opacity: 0;
    cursor: default;
}

#sidebar:hover .sitenav, #sidebar:hover .pageTools {
    left: 0px;
}

.sitenav, .pageTools {
    position: relative;
    left: -300px;
    transition: left 0.2s;
    z-index: 10;
}

ul.tabs li {
    padding: 10px;
    border: 1px solid #ccc;
}

ul.tabs li.selected {
    border: 2px solid #ccc;
}
